<div class="mainContent">
  <section class="content-header">
    <h1>Welcome to Taggit!</h1>
  </section>
  <section class="content">
    <h2>Shortcuts</h2>
    <h3>Menu</h3>

    <ul>
      <li>Enter: Select MenuItem</li>
      <li>ctrl: show options of MenuItem</li>
      <li>escape: cancel</li>
      <li>x: Switch to Editor</li>
    </ul>

    <h3>Editor</h3>

    <ul>
      <li>ctrl+: Insert Tag at caret; If somethign is selected, it will be put in the first tag-input</li>
      <li>alt+w: Focus Menu / Editor</li>
    </ul>

    <h2>Here are your previous used Documents:</h2>

  </section>
</div>
