<div class="wrapper hold-transition skin-blue sidebar-mini"
     (window:keyup)="handleKeyboardEvent($event)">
  <header class="main-header">
    <!-- Logo -->
    <a class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>TGT</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Taggit</b></span>
    </a>
    <navbar (OnToggle)="toggleSidebar()"></navbar>
  </header>
  <aside (click)="onClickSidebar()" class="main-sidebar">
    <menu-manager></menu-manager>
  </aside>

  <div class="content-wrapper">
    <div *ngIf="loading" class="loadingOverlay" style="text-align: center; overflow-y: inherit">
      <i class="fa fa-refresh fa-spin" style="font-size: 6em; margin-top: 20%"></i>
    </div>
      <router-outlet></router-outlet>
  </div>

  <app-modal></app-modal>
  <snackbar></snackbar>
  <!--<div class="control-sidebar-bg"></div>-->
</div>
