<!-- search form -->
<form action="#" method="get" class="sidebar-form">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Search...">
    <span class="input-group-btn">
      <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
    </span>
  </div>
</form>

<ul *ngIf="loading" class="sidebar-menu">
  <li class="header">
    <span *ngIf="showBackBtn"
          class="backBtn pull-left-container"
          (click)="backPressed()">
      <i class="fa fa-angle-left left" ></i>
    </span>
    <span>{{name}}</span>
  </li>
  <li>
    <i class="fa fa-spinner"></i>
    <a>Loading...</a>
  </li>
</ul>
<ul *ngIf="!loading" class="sidebar-menu" #focusHandle>
  <li class="header">
    <span *ngIf="showBackBtn"
          class="backBtn pull-left-container"
          (click)="backPressed()">
      <i class="fa fa-angle-left left" ></i>
    </span>
    <span>{{name}}</span>
  </li>
  <li *ngFor="let slot of slots">
    <menu-slot [Slot]="slot"></menu-slot>
  </li>
</ul>
