span, i {
  color: #b8c7ce !important;
}

.active {
  display: block;
}

.treeview-menu {
  display: block;
}

.header{
  text-align: center;
}

.backBtn {
  float: left;
  font-size: 20px;
  cursor: pointer;
  width: 20px;
}
