<!-- search form -->
<form action="#" method="get" class="sidebar-form">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Search...">
    <span class="input-group-btn">
      <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
    </span>
  </div>
</form>

<ul class="sidebar-menu">
  <li class="header">{{name}}</li>
  <li *ngFor="let slot of slots">
    <menu-slot [Slot]="slot"></menu-slot>
      <!-- Show options -->
      <ul *ngIf="!slot.collapsed && slot.options" class="treeview-menu">
        <li *ngFor="let option of slot.options">
          <menu-slot [Slot]="option "></menu-slot>
        </li>
      </ul>
  </li>
</ul>
