<div class="box box-primary">
  <div class="container-fluid">

    <div class="row questionCount">
      <span>Question {{currTag}} / {{totalTags}}</span>
    </div>

    <div *ngIf="state == 0" class="row textRow">
      <span>
        {{learnTag.question}}
      </span>
    </div>

    <div *ngIf="state == 1" class="row textRow">
      <span>
        {{learnTag.answer}}
      </span>
    </div>

    <div class="row" *ngIf="state == 0">
      <div (click)="onReady()" class="btn btn-success btn-block readyBtn" >
        <span>Show Answer</span>
      </div>
    </div>

    <div class="row answerButtons" *ngIf="state == 1">
      <div (click)="onSuccess(false)" class="btn btn-lg btn-danger">
        False Answer
      </div>

      <div (click)="onSuccess(true)" class="btn btn-lg btn-success pull-right">
        Right Answer
      </div>
    </div>
  </div>
</div>
