<div class="mainContent">
  <section class="content-header">
    <div class="row">
      <div class="col col-lg-3">

      </div>
      <div class="col col-lg-6">
        <progress-bar [Value]="40"></progress-bar>
      </div>
      <div class="col col-lg-3">
        <a (click)="onNavigateSettigs()" class="btn btn-lg btn-default settingsBtn"> <!-- btn-app -->
          Learn-Settings
          <i class="fa fa-cog"></i>
        </a>
      </div>
    </div>
  </section>
  <section class="content">
    <flashcard></flashcard>
  </section>
</div>
