<div class="wrapper hold-transition skin-blue sidebar-mini">
  <header class="main-header">
    <!-- Logo -->
    <a class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>TGT</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Taggit</b></span>
    </a>
    <navbar (OnToggle)="toggleSidebar()"></navbar>
  </header>
  <aside (click)="onClickSidebar()" class="main-sidebar">
    <menu-manager></menu-manager>
  </aside>

  <div class="content-wrapper">
      <router-outlet></router-outlet>
  </div>

  <app-modal></app-modal>

  <!--<div class="control-sidebar-bg"></div>-->
</div>
