span, i {
  color: #b8c7ce !important;
}

.active {
  display: block;
}

.treeview-menu {
  display: block;
}

.header{
  text-align: center;
}

.backBtn {
  float: left;
  font-size: 20px;
  cursor: pointer;
  width: 20px;
}

.loading-container {

}

.loading-container i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}
