<div class="mainContent" *ngIf="learnObject">
  <section class="content-header">
    <div class="row">
      <div class="col col-lg-3">
        <a class="btn btn-lg btn-success" (click)="addQuestions()">
          Add Questions
          <i class="fa fa-plus"></i>
        </a>
      </div>
      <div class="col col-lg-6">
        <progress-bar [Value]="learnObject.getProgress()"></progress-bar>
      </div>
      <div class="col col-lg-3">
        <a class="btn btn-lg btn-success pull-right" (click)="startLearning()">
          Start Learning
          <i class="fa fa-play"></i>
        </a>
      </div>
    </div>

   <!-- <div class="progessWrapper" style="width: 50%;margin-left: auto;margin-right: auto;">
      <progress-bar [Value]="learnObject.getProgress()"></progress-bar>
    </div>

    <div class="btnWrapper" style="height: 50px">
      <a class="btn btn-lg btn-success pull-left" (click)="addQuestions()">
        Add Questions
        <i class="fa fa-plus"></i>
      </a>
      <a class="btn btn-lg btn-success pull-right" (click)="startLearning()">
        Start Learning
        <i class="fa fa-play"></i>
      </a>
    </div>
-->
  </section>
  <section class="content">
    <tag-list *ngFor="let type of learnObject.getTagTypes()" [TagType]="type" [Tags]="learnObject.getTagsOfType(type)" (TagChange)="tagChanged($event)">
    </tag-list>
  </section>
</div>
