.intro-message{
    padding-bottom: 16%;
}

#loginBtn {
    margin-top: 8px;
    font-weight: bold;
}

#loginInfo {
    color: red;
}

#showMore a{
    cursor: pointer;
    color: white;
}

.toServices:hover {
    text-decoration: none;
}

.modal-dialog {
    max-width: 400px;
}

#keepCredentials{
    margin-top: 2px;
}

.modal checkbox {
    margin-top: 20px;
}

@media(max-width:1199px) {
    .img-responsive {
        margin-top: 50px;
    }
}